article{
    margin: 0 10vw;
    background-color: rgba(255, 255, 255, 0.531);
    padding: 5vw;
    height: 200vh;
}

.logo{
    width: 15vw;
    height: 10vw;
}

.titel, .noten, .prufungen, .nachrichten{
    margin: 4vw;
}

.titel h2, .noten h2, .prufungen h2, .nachrichten h2{
    font-weight: bold;
}

.article-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0 45vw, rgb(169, 221, 255) 55vw), url(/src/images/background.png);
    background-repeat: no-repeat;
    background-size:contain;
}

.register:visited .register{
    color: rgb(0, 102, 255);
}