<link rel="stylesheet" href="/components/footer_style.css">
<footer>
    <h1 class="text-center text-light">GradeWizard	&copy;</h1>
        <div style="display: flex; gap: 1vw" class="text-center text-light" id="footer_container">
            <div style="flex: 1">
                <a>Kontakt</a>
            </div>
            <div style="flex: 1">
                <a>Patchnotes</a>
            </div>
            <div style="flex: 1">
                <a>SocialMedia</a>
            </div>
            <div style="flex: 1">
                <a>AGB</a>
            </div>
            <div style="flex: 1">
                <a>Disclaimer</a>
            </div>
        </div>
      </div>
</footer>