<link rel="stylesheet" href="/components/header_style.css">
<header>
    <div class="container text-center text-light">
        <div class="menu">
            <h2>G<span style="font-size:0.6em">rade</span>W<span style="font-size:0.6em">izard</span></h1>
            <div style="width: 6em; background-color: white; height: 2px; margin: auto; display: block;"></div>
            <div>
                <a href="/index.php">                
                    <MenuLabel>Startseite</MenuLabel>
                </a>
            </div>
            <div>
                <a href="/noten.php">
                    <MenuLabel>Noten</MenuLabel>
                </a>
            </div>
            <div>
                <a href="/klasse.php">
                    <MenuLabel>Klasse</MenuLabel>
                </a>
            </div>
            <div>
                <a href="/einstellungen.php">
                    <MenuLabel>Einstellungen</MenuLabel>
                </a>
            </div>
            <div>
                <a  href="/hilfe.php">
                    <MenuLabel>Hilfe</MenuLabel>
                </a>
            </div>
        </div>
    </div>
</header>
